*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #0B0B0B;
    font-family: roboto;
    color: #E5E7EB;
}
/* header section */
header {
    background-color: black;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-height: 15vh;
    width: 100vw;
    position: fixed;
    top: 0;
}


.pfl {
    color: rgb(33, 212, 92);
    font-size: 1.5rem;
}

.menu ul {
    display: flex;
    align-content: center;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 1.2rem;
}

.menu ul li a:hover {
    color: orange;
    font-size: larger;
    font-weight: bold;

}

.menu ul li a:active {
    color: red;
}