:root{
    --main_color: #7043db;
    --hover_color: #7C3AED;
    --text_clr: #E5E7EB;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: roboto;
    color: var(--text_clr);
}

/* header section */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 15vh;
    width: 100%;
}

.pfl a {
    color: var(--main_color);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Roboto Condensed";
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    list-style: none;
}

.menu ul li a {
    color: var(--text_clr);
    font-size: 1.4rem;
    font-weight: 300;
    text-decoration: none;
    margin: 3rem;
}

.menu ul li a:hover {
    color: var(--hover_color);
    font-size: 1.5rem;
    font-weight: 400;

}