* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0B0B0B;
    font-family: roboto;
    color: #E5E7EB;
}

/* header section */

.navbar {
    border: 2px solid red;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-height: 18vh;
    width: 100vw;
}

.pfl {
    color: #22C55E;
    font-size: 1.5rem;
    font-family: "Roboto Condensed";
}

.menu ul {
    display: flex;
    align-content: center;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    padding: 20px;
    color: #E5E7EB;
    font-size: 1.2rem;
}

.menu ul li a:hover {
    color: #22C55E;
    font-size: larger;
    font-weight: bold;

}

/* page 1 */
.page1 {
    height: 90vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#propic {
    width: 250px;
    aspect-ratio: 27/37;
    margin: 40px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details h1 {
    font-size: 3.5rem;
    margin: 10px;
}

.details h4 {
    font-size: larger;
    margin: 10px;
}

.details button {
    background-color: #22C55E;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;

}

.details button a {
    text-decoration: none;
    color: #0B0B0B;
    font-size: 1.2rem;
}

.details button:hover {
    color: #16A34A;
    font-size: larger;
    font-weight: bolder;
    transition: all 0.3s ease;
}

/* page 2 */
.page2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hd2 {
    color: wheat;
    font-size: 2.5rem;
    margin: 20px;
}

.txt2 {
    width: 80%;
    margin: 20px auto;

}

.txt2 p {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
}
/* page 3 */
.hd3{
    color: wheat;
    font-size: 2.5rem;
    margin: 20px auto;
    text-align: center;
}
.skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

}
.skl{
    width: 220px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px;
}
.skl h3{
    color: white;
    font-size: 1.5rem;
    margin: 10px;
}
.imgcont{
    width: 180px;
    height: 180px;
    padding: 10x;
}
.imgcont img{
    width: 100%;
    height:100%;
    object-fit: contain;
}
.skl p{
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

/* page 4 */
.hd4 h2{
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin: 20px;
}
.scl ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.scl ul li{
    list-style: none;
}
.scl ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin: 20px;
    padding: 20px;
}
.scl ul li a:hover{
    color: orange;
    font-size: x-large;
    font-weight: bolder;
    
}
footer p{
    color: white;
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
    margin-top: 40px;
}