:root{
    --main_color: #7043db;
    --hover_color: #7C3AED;
    --text_clr: #E5E7EB;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: roboto;
    color: var(--text_clr);
}

/* header section */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 15vh;
    width: 100%;
}

.pfl a {
    color: var(--main_color);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    list-style: none;
}

.menu ul li a {
    color: var(--text_clr);
    font-size: 1.4rem;
    font-weight: 300;
    text-decoration: none;
    margin: 3rem;
}

.menu ul li a:hover {
    color: var(--hover_color);
    font-size: 1.5rem;
    font-weight: 400;

}

/* page 1 */
.page1 {
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 70% 30%);
}

.propic{
    width: 100%;
    height: 100%;
}
.propic img{
    margin-top: 15%;
    object-fit: contain;
    width: 60%;
    height: 65%;
    border-radius: 50%;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details h1 {
    font-family: Roboto;
    font-size: 3.5rem;
    margin: 10px;
    color: var(--main_color);
}

.details h4 {
    font-size: 1.8rem;
    margin: 10px;
    text-transform: capitalize;
    font-weight: 200;
}


.details a {
    text-decoration: none;
    color: var(--main_color);
    background-color: transparent;
    border: 2px solid var(--main_color);
    border-radius: 10px;
    font-weight: 300;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2rem;
}

.details a:hover{
    color: var(--text_clr);
    background-color: var(--hover_color);
    font-size: larger;
    font-weight: bolder;
    transition: all 0.3s ease;
}

/* page 2 */
.page2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hd2 {
    color: var(--main_color);
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: overline;
    line-height: 1.5rem;
    font-size: 3.5rem;
    font-weight: 700;
    margin: 20px;
}

.txt2 {
    width: 90%;
    margin: 20px auto;

}

.txt2 p {
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
    border: 2px solid var(--main_color);
    border-radius: 30px 0;
    padding: 20px;
}
/* page 3 */
.hd3{
    font-size: 4rem;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
    color: var(--main_color);
    margin: 20px auto;
    text-align: center;
}
.skills{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.skl{
    margin: 10px;
    border: 1.5px solid var(--main_color);
    border-radius: 10px;
    padding: 10px;
    height: 70vh;
}
.skl:hover{
    border-width: 2px;
}
.pic{
    width: 16vw;
    height: 20vh;
    margin: 0 auto;
}
.skl .pic img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.sklhd{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    height: auto;
}
.skldtls{
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: justify;
}
/* page 4 */
.hd4{
    color: var(--main_color);
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin: 20px;
}
.scl ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.scl ul li{
    list-style: none;
}
.scl ul li a {
    text-decoration: none;
    color: var(--text_clr);
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 20px;
    padding: 20px;
}
.scl ul li a:hover{
    background-color: var(--hover_color);
    color: var(--text_clr);
    font-size: 1.6rem;
    font-weight: 600;
    
}
footer p{
    color: var(--text_clr);
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
    margin-top: 40px;
}